<h2>Add A New Picture</h2>

<%= render 'form' %>

<!-- 

# If it were my job to write the Rails form_for view helper method, I would start by:

def form_for(model_instance)
  class = model_instance.class
  url = class.downcase.pluralize
  if model_instance.id.present?
    verb = "put"
    submit_value = "Update #{class}"
  else
    verb = "post"
    submit_value = "Create #{class}"
  end
  
  return "<form action="/#{url}" method="#{verb}">"
end

-->