
<div>
  <%= image_tag @picture.url, :width => 150 %>
  <nav>
    <%= link_to "Back", pictures_url %>
    |
    <%= link_to "Delete", picture_url(@picture.id), :method => :delete %>
    |
    <%= link_to "Edit", edit_picture_url(@picture.id) %>
  </nav>
</div>